<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Framework</title>
</head>
<body>
    <h1 style="color: red;">Django Framework</h1>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia quia dolor sequi exercitationem iure repudiandae, quam ipsa vitae sit quasi eaque delectus voluptatibus, soluta impedit sed excepturi quaerat amet sunt.

    <p>Tam Kittipong</p>
</body>
</html>